<div class="container-fluid sticky-top" style="height: 50px;">
  <div class="row">
    <header class="col p-2"
      style="display:flex;justify-content: space-between;align-items: center; border-bottom: 1px solid #020e13;background-color: #020e13;">
      <a routerLink="">
        <img style="width:120px" src="../assets/logo.png" />
      </a>
      <div class="d-flex">
        <a routerLink=""  class="btn text-white  btn-sm">Movies</a>&nbsp;&nbsp;
        <a routerLink="/tv" class="btn text-white btn-sm">Series</a>&nbsp;&nbsp;
        <a [routerLink]="'/'+type+'/search'" class="btn text-white btn-sm">Search</a>
      </div>
    </header>
  </div>
</div>