<!-- <div class="container-fluid sticky-top " style="height: 50px;">
    <div class="row">
        <header class="col p-2"
            style="display:flex;justify-content: space-between;align-items: center; border-bottom: 1px solid #020e13;background-color: #020e13;">
            <img style="width:120px" src="../assets/logo.png" />
            <div class="d-flex">
                <a routerLink="" class="btn text-white  btn-sm">Home</a>&nbsp;&nbsp;
                <a routerLink="/search" class="btn text-white btn-sm">Search</a>&nbsp;&nbsp;
                <a routerLink="/all" class="btn text-white btn-sm">All Movies</a>
            </div>
        </header>
    </div>
</div> -->
<app-header class="d-none d-md-block"></app-header>
<div class="bg">
    <app-loading *ngIf="loading"></app-loading>

    <div *ngIf="data" class="container main">
        <div *ngIf="!loading" class="row">
            <div class="col-12 col-md-8 video-div">
                <iframe class="video" [src]="src" width="100%" height="100%" allowfullscreen="allowfullscreen"
                    frameborder="0">
                </iframe>
            </div>


            <div class="col-12 col-md-4 details">
                <b class="title">{{data.title || data.name}}</b>
                <br><br>
                <div class="row text-white">
                    <div class="col-6">
                        <div>
                            <h5>{{data.vote_average}} / 10</h5>
                            <p>Rating</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <div>
                            <h5>{{data.original_language}} </h5>
                            <p>Language</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-white">
                    <b class="overview">Overview</b>
                    <p>{{data.overview}}</p>
                </div>
                <br>
                <!-- genres -->
                <b class="overview text-white">Genres</b>
                <div class="row">
                    <div *ngFor="let g of data.genres" class="col-4 mb-1 mt-1">
                        <div style="background-color:wheat;font-weight: bold; padding: 10px; border-radius: 30px; font-size: 0.8em;text-align: center;"
                            class="text-dark">
                            {{g.name}}
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-12 p-3" *ngIf="type=='tv'">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn drop_btn" id="dropdown1" ngbDropdownToggle>Select
                        Season</button>
                    <div ngbDropdownMenu aria-labelledby="dropdown1" class="drop_div">
                        <a ngbDropdownItem *ngFor="let d of [].constructor(season); let i = index"
                            [routerLink]="['/tv/embed',id,i+1,1]">Season {{i+1}}</a>
                    </div>
                </div>
            </div>
            <h4 class="text-white" *ngIf='type=="tv"'>Season {{s}} Episodes {{e}}</h4>
            <div class="row" *ngIf="type=='tv'">
                <p class="text-white" *ngIf="e_loading">loading episodes.....</p>
                <div *ngIf="!e_loading">
                    <a routerLinkActive="active_episode" class="btn btn-sm e_link"
                        [routerLink]="['/tv/embed',id,s,e.episode_number]" *ngFor="let e of episodes; let i =index">
                        Episode {{e.episode_number}} <br>
                        <small> {{e.name}}</small>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="!loading && !data" class="container text-white d-flex justify-content-center align-items-center"
            style="height:90vh ;">
            <h4>Video is Not Available</h4>
        </div>
    </div>