<div class="container-fluid sticky-top" style="height: 50px;">
    <div class="row">
      <header class="col p-2"
        style="display:flex;justify-content: space-between;align-items: center; border-bottom: 1px solid #020e13;background-color: #020e13;">
        <img style="width:120px" src="../assets/logo.png" />
        <input (keyup)="searchMovie($event)" type="text" style="width: 40%;" class="form-control d-none d-md-block"
          name="search" placeholder="Search Movie">
        <div [style.visibility]="loading ? 'visible' : 'hidden'"
          class=" d-none d-md-block spinner-border text-light spinner-border-sm" role="status"></div>
        <div class="d-flex">
          <a routerLink=""  class="btn text-white  btn-sm">Home</a>&nbsp;&nbsp;
          <a routerLink="/search"  class="btn text-white btn-sm">Search</a>&nbsp;&nbsp;
          <a routerLink="/all"  class="btn text-white btn-sm" >All Movies</a>
        </div>
      </header>
    </div>
  </div>
  
  <div class="bg">
    <div class="container">
      <div class="row">
        <main class="col">
  
          <!-- search in mobile -->
          <div class="d-flex d-md-none sticky-top" style="display: flex;align-items: center; margin-top: 20px;">
            <input (keyup)="searchMovie($event)" type="search" class="form-control" name="search"
              placeholder="Search Movie">
            <div>
              <div *ngIf="loading" class="spinner-border text-light spinner-border-sm" role="status"></div>
            </div>
          </div>
          <!-- search in mobile endddd -->
          <br>
          <div *ngFor="let d of data"
            style="display: flex;align-items: flex-start; margin-top:10px; background-color: #0f2d3a; border-radius: 10px;"
            class="p-3 text-white">
            <img style="width: 120px; aspect-ratio: 1/1.3; border-radius:10px; background-color: #072e3f;"
              [src]="imgUrl+d.poster_path" />
            <div class="p-3">
              <b style="font-size: 1.4em;">{{d.title}}</b>
              <p style="margin: 0;">Rating : {{parsefloat(d.vote_average)}} / 10</p>
              <small>Language : {{d.original_language}} </small>
              <small class="d-none d-md-block">{{d.overview}}</small>
              <button class="btn btn-primary" style="margin: 8px 0px;" (click)="open(content,d)">Add links</button>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  
  
  
  <!-- modal -->
  
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-white" style="background: #04202c;">
      <h5 class="modal-title" id="modal-basic-title">Add Links</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <b>{{selectedmovie.title}}</b>
      <br>
      <small *ngIf="linksLoading" class="d-block text-primary text-center">Available Links Loading.....</small>
      <div class="form-group">
        <label for="p_320" class="form-label"><small>320p Link</small></label>
        <input type="text"  [disabled]="linksLoading" class="form-control" id="p_320" [(ngModel)]="link.p_320"  />
  
        <label for="p_480" class="form-label"><small>480p Link</small></label>
        <input type="text" [disabled]="linksLoading" class="form-control" id="p_480" [(ngModel)]="link.p_480" />
  
        <label for="p720" class="form-label"><small>720p Link</small></label>
        <input type="text" [disabled]="linksLoading" class="form-control" id="p720" [(ngModel)]="link.p_720" />
  
        <label for="p1080" class="form-label"><small>1080p Link</small></label>
        <input type="text" [disabled]="linksLoading" class="form-control" id="p1080" [(ngModel)]="link.p_1080" />
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="saving" style="background-color: #04202c; color: white;" type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
    </div>
  </ng-template>