<div class="container-fluid sticky-top" style="height: 50px;">
  <div class="row">
    <header class="col p-2"
      style="display:flex;justify-content: space-between;align-items: center; border-bottom: 1px solid #020e13;background-color: #020e13;">
      <img style="width:120px" src="../assets/logo.png" />
      <div class="d-flex">
        <a routerLink="" class="btn text-white  btn-sm">Home</a>&nbsp;&nbsp;
        <a routerLink="/search" class="btn text-white btn-sm">Search</a>&nbsp;&nbsp;
        <a routerLink="/all" class="btn text-white btn-sm">All Movies</a>
      </div>
    </header>
  </div>
</div>

<div class="bg">
  <div class="container p-3">
    <div class="row">
      <div class="col">
        <ngb-carousel #carousel [interval]="4000" [pauseOnHover]="true" [pauseOnFocus]="true" (slide)="onSlide($event)">
          <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div class="carousel-caption">
              <h3>{{popular[i].title}}</h3>
            </div>
            <a [routerLink]="['/details',popular[i].id]">
              <div class="picsum-img-wrapper">
                <img class="img" [src]="img">
              </div>
            </a>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div style="padding: 15px; display:flex;justify-content: space-between;">
          <b style="color: white; font-size:1.3em">Popular</b>
          <a class="text-white" style="text-decoration: none;" routerLink="">see more </a>
        </div>
      </div>
      <div class="col-12 d-flex" style="overflow: auto;">
        <div *ngFor="let d of popular">
          <app-items [data]="d"></app-items>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-12">
        <div style="padding: 15px; display:flex;justify-content: space-between;">
          <b style="color: white; font-size:1.3em">Top Rated</b>
          <a class="text-white" style="text-decoration: none;" routerLink="">see more </a>
        </div>
      </div>
      <div class="col-12 d-flex" style="overflow: auto;">
        <div *ngFor="let d of top_rated">
          <app-items [data]="d"></app-items>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <div style="padding: 15px; display:flex;justify-content: space-between;">
          <b style="color: white; font-size:1.3em">Hindi Movies</b>
          <a class="text-white" style="text-decoration: none;" routerLink="">see more </a>
        </div>
      </div>
      <div class="col-12 d-flex" style="overflow: auto;">
        <div *ngFor="let d of hindi">
          <app-items [data]="d"></app-items>
        </div>
      </div>
    </div>

    <div class="row p-5">
      <div class="col d-flex justify-content-center">
        <a routerLink="" class="btn text-white">Discover More >>></a>
      </div>
    </div>
  </div>
</div>