<app-header></app-header>

<div class="bg">
  <app-loading  *ngIf="loading"></app-loading>

  <div class="container p-3" *ngIf="!loading">
    <div class="row">
      <div class="col">
        <ngb-carousel #carousel [interval]="4000" [pauseOnHover]="true" [pauseOnFocus]="true" (slide)="onSlide($event)">
          <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div class="carousel-caption">
              <h3>{{popular[i].title}}</h3>
            </div>
            <a [routerLink]="['/details',popular[i].id]">
              <div class="picsum-img-wrapper">
                <img class="img" [src]="img">
              </div>
            </a>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
<!-- popular -->
    <div class="row">
      <div class="col-12">
        <div style="padding: 15px; display:flex;justify-content: space-between;">
          <b style="color: white; font-size:1.3em">Popular</b>
          <a class="text-white" style="text-decoration: none;" routerLink="/popular/1">see more </a>
        </div>
      </div>
      <div class="col-12 d-flex" style="overflow: auto;">
        <div *ngFor="let d of popular">
          <app-items [data]="d"></app-items>
        </div>
      </div>
    </div>


<!-- top rated -->
    <div class="row">
      <div class="col-12">
        <div style="padding: 15px; display:flex;justify-content: space-between;">
          <b style="color: white; font-size:1.3em">Top Rated</b>
          <a class="text-white" style="text-decoration: none;" routerLink="/top-rated/1">see more </a>
        </div>
      </div>
      <div class="col-12 d-flex" style="overflow: auto;">
        <div *ngFor="let d of top_rated">
          <app-items [data]="d"></app-items>
        </div>
      </div>
    </div>

<!-- hindi movies -->
    <div class="row">
      <div class="col-12">
        <div style="padding: 15px; display:flex;justify-content: space-between;">
          <b style="color: white; font-size:1.3em">Hindi Movies</b>
          <a class="text-white" style="text-decoration: none;" routerLink="/hindi-movies/1">see more </a>
        </div>
      </div>
      <div class="col-12 d-flex" style="overflow: auto;">
        <div *ngFor="let d of hindi">
          <app-items [data]="d"></app-items>
        </div>
      </div>
    </div>
<!-- all movies -->
    <div class="row p-3">
      <div class="col d-flex justify-content-center">
        <a routerLink="/all/1" class="btn text-white">Discover More >>></a>
      </div>
    </div>
  </div>
</div>