<app-header></app-header>

<div class="bg">
    <div class="container">
        <br>
        <p class="display-6 text-white" style="font-size: 1em;">{{data.title}}</p>
        <div class="row">
            <app-loading  *ngIf="loading"></app-loading>

            <div *ngIf="!loading" class="col p-3">
                <div [style.background]="'url('+imgUrl+data.backdrop_path+') 0 0/100% 100% no-repeat'"
                    style=" border-radius: 10px;" class="bg-img"></div>
                <div class="info">
                    <img style="display: block; border-radius:10px; background-color: #072e3f;" class="poster"
                        [src]="imgUrl+data.poster_path" />
                    <div class="title">
                        <b>{{data.title}}</b>
                        <p>Rating : {{data.vote_average}} / 10</p>
                        <p>Language : {{data.original_language}}</p>
                    </div>
                </div>
                <div class="row p-5">
                    <div class="col-12 col-md-3 text-white order-md-2">
                        <div class="row pb-3">
                            <div class="col-6">
                                <h5>{{data.release_date}}</h5>
                                <p>Release date</p>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <a [routerLink]="['/play',id]">
                                    <svg fill="wheat" height="50px" width="50px" version="1.1" x="0px" y="0px"
                                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                        xml:space="preserve">
                                        <g>
                                            <g>
                                                <path  d="M256,0C114.511,0,0,114.497,0,256c0,141.49,114.495,256,256,256c141.49,0,256-114.497,256-256C512,114.51,397.503,0,256,0
			z M348.238,284.418l-120.294,69.507c-10.148,5.864-22.661,5.874-32.826,0.009c-10.158-5.862-16.415-16.699-16.415-28.426V186.493
			c0-11.728,6.258-22.564,16.415-28.426c5.076-2.93,10.741-4.395,16.406-4.395c5.67,0,11.341,1.468,16.42,4.402l120.295,69.507
			c10.149,5.864,16.4,16.696,16.4,28.418C364.639,267.722,358.387,278.553,348.238,284.418z" />
                                            </g>
                                        </g>
                                        <g></g>
                                        <g> </g>
                                        <g> </g>
                                        <g> </g>
                                        <g> </g>
                                        <g> </g>
                                        <g> </g>
                                        <g> </g>
                                        <g>
                                        </g>
                                        <g></g>
                                        <g></g>
                                        <g> </g>
                                        <g> </g>
                                        <g> </g>
                                        <g> </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 order-md-1">
                        <b class="overview">Overview</b>
                        <p class="text-white">{{data.overview}}</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>