.bg-img{
    height: 300px;
    filter: blur(3px);
}
.info{  
    display: flex;
    align-items: flex-end;
    position: relative; 
    margin-top: -225px;
    padding-left: 40px;
}
p,b,h5{
    margin: 0px;
}
.poster{
 width: 150px;
 aspect-ratio: 1/1.4;
}
.title{
    margin-left:40px; 
    color:white;
}
.title b{
    font-size: 1.6em;
}
.overview{
    font-size: 1.5em;
    color: white;
    display: block;
    margin: 15px 0px 10px 0px;
}

@media screen and (max-width: 768px) {
    .bg-img{
        height: 170px;
    }
    .info{
        margin-top: -110px;
        padding-left: 10px;
    }
    .title{
        margin-left: 10px;
    }
    .title b{
        font-size: 1.1em;
    }
    .overview{
        font-size: 1.3em;
    }
}